.checkout {
    display: flex;
    padding: 2rem;
    background-color: white;
    height: max-content;
}

.checkout__ad {
    width: 100%;
    margin-bottom: 1rem;
}

.checkout__title {
    margin-right: 1rem;
    padding: 1rem 0;
    border-bottom: 1px solid lightgray;
}


@media screen and (max-width: 900px) {
    .checkout {
        flex-direction: column;
    }

    .checkout__ad {
        display: none;
    }
}