.home {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 1500px;
}

.home__row {
    display: flex;
    z-index: 1;
}

.home__image {
    width: 100%;
    z-index: -1;
    margin-bottom: -15rem;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

@media screen and (max-width: 900px) {
    .home__image {
        margin-bottom: -5rem;
    }

    .home__row {
        flex-wrap: wrap;
    }
}